<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!-- bootstrap cdn -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/4fc8e5e9cf.js" crossorigin="anonymous"></script>
    <title> <%=title%> </title>
    <!-- Image and text -->
<nav class="navbar navbar-light" style="background-color: #ff6347;">
        <a class="navbar-brand" href="/">
          <span>P</span>
          MY POS
        </a>
        <div class="ml-auto">
        <% if(title != 'POS: Login'){ %>
          <a id="sign-out" href="/admin">Dashboard</a>
          <a id="sign-out" href="/signout">Sign Out</a>
        <% } %>
        </div>
</nav>
</head>