<!DOCTYPE HTML>
<html>
<head>
	<meta charset="UTF-8">
    <title>CSS Menu</title>
    <script src="https://kit.fontawesome.com/4fc8e5e9cf.js" crossorigin="anonymous"></script>
    <link href="/css/menu.css" rel="stylesheet">
</head>
<body><ul id="mainMenu">
	<li><a href="home.html">Home</a></li>
	<li><a href="services.html"><i class="fas fa-icons"></i></a><ul>
		<li><a href="service1.html">Service 1</a></li>
		<li><a href="service2.html">Service 2</a></li>
		<li><a href="service3.html">Service 3</a></li>
	</ul></li>
	<li><a href="products.html">Products</a><ul>
		<li><a href="product1.html">Product 1</a></li>
		<li><a href="product2.html">Product 2</a></li>
		<li><a href="product3.html">Product 3</a></li>
	</ul></li>
	<li><a href="support.html">Support</a></li>
	<li><a href="blog.html">Blog</a></li>
	<li><a href="about.html">About</a><ul>
		<li><a href="history.html">Company History</a></li>
		<li><a href="staff.html">Our Staff</a></li>
		<li><a href="press.html">Press Releases</a></li>
		<li><a href="investorInfo.html">Investor Information</a></li>
	</ul></li>
	<li><a href="contact.html">Contact</a></li>
</ul></body>
</html>