<!DOCTYPE html>
<html lang="en">
    <% include partials/header %>
<body>
    <div id="wrapper">
        <div id="user-form">
            <div id="sell-products">
                <div>
                                
                </div>
            </div>
            <div id="add-user">
        <form class="form" action="/admin/manage_users/add_user" method="POST">
            <div class="col-auto">
           
            </div>
            <div class="form-footer">
                <button type="submit" class="btn btn-outline-success" type="submit">Add User</button>
            </div>
        </form>
            </div>
           
        </div>
    </div>
<div>
    <div>
       <footer id="footer">
          <% include partials/footer %>
       </footer>
    </div>
</div>
</body>
</html>