html, body{
  background-color: #F5F7FA;
  margin-bottom: 50px;
  height: 100%;
  overflow: hidden;
  font-family: 'Source Sans Pro', sans-serif;
}
#wrapper{
  text-align: center;
  margin-top: 10px;
}
.container{
  display: inline-block;
  margin: 10% 0;    
}
.menu{
  position: fixed;
  left: 0;
  border-right: 1px solid rgb(221, 217, 217);
  padding-left: 8px;
  padding-top: 20px;
  width: 14%;
  height: 890vh; 
}
.menu i{
  font-size: 14px;
  color: #60d0ec;
  padding-right: 5px;
}
.menu a{
  font-size: 14px;
  color: #000;
}
.menu > div{
  margin-left: 10px;
}
.navbar span {
  padding-top: 0;
  font-size: 20px;
  font-weight: bold;
  color: #905544;
}
#footer {
  position: fixed;
  text-align: center;
  height: 5%;
  background-color: #60d0ec;
  bottom: 0px;
  left: 0px;
  right: 0px;
}
#footer-content{
  display: inline-block;
}
#footer-text{
  margin-top: 0.5%;
  color: #e3f2fd;
  font-size: 15px;
}
.navbar{
  height: 7%;
}
.navbar-light .navbar-brand{
  padding: 0;
  color: #e3f2fd;
}

/* Sign in form style */

.form-signin {
  width: 100%;
  height: 100%;
  max-width: 300px;
  padding: 15px;
  margin: auto;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 14px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.admin-menu{
  display: inline-flex;
  padding-left: 18%;
  width: 85%;
  flex-wrap: wrap;
}
.menu-item{
  margin: 5px;
  height: 120px;
  padding-top: 25px;
}
.admin-menu :hover{
background-color: rgb(212, 156, 139);
}
.one{
  background-color: #bb83f0;
  width: 30%;
}
.two{
  background-color: rgb(109, 10, 94);
  width: 20%;
}
.three{
  background-color: rgb(57, 107, 61);
  width: 20%;
}.four{
  background-color: rgb(21, 100, 247);
  width: 20%;
}.five{
  background-color:  rgb(2, 105, 11);  
  width: 20%;
}.six{
  background-color: rgb(89, 21, 247);
  width: 25%;
}.seven{
  background-color: #7b3db6;
  width: 15%;
}.eight{
  background-color: rgb(199, 15, 171);
  width: 30%;
}
.menu-item a{
  color: #e3f2fd;
  text-decoration: none;
}
.menu-item i{
  font-size: 40px;
  color: #e3f2fd;
}
.property{
  background-image: 
  /* linear-gradient(
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  ),  */
  url('https://images.unsplash.com/photo-1578763768495-95a83c475a30?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60');
  background-repeat: no-repeat;
  background-size: cover;
  height: 88vh;
  width: 75%;
  float: left;
}
.login{
  padding-top: 8%;
  height: 88vh;
  width: 25%;
  float: left;
  display: inline-block;
}
#mall-name{
  margin-bottom: 15%;
  color: #000;
}
.set-center{
  text-align: center;
}
form span{
  font-size: 40px;
  color: #4ca6bd;
}
.btn-danger{
  background-color: #4ca6bd;
  border: none;
}
.btn-danger:hover{
  background: #60d0ec;
}
#user-form{
  display: inline-block;
  width: 95%;
  padding-left: 4%;
}
#add-user{
  border-right: 1px solid rgb(221, 217, 217);
  width: 25%;
  height: 85.3vh;
  margin-left: 8%;
  margin-right: 1%;
  float: left;
}
#manage-user{
  border-right: 1px solid rgb(221, 217, 217);
  position: relative;
  height: 85.3vh;
  float: left;
  width: 66%;
}
.form-title{
  margin-top: 15px;
  font-size: 20px;
}
.form-footer{
 margin-top: 50%;
}
.col-auto{
 margin-top: 10px;
}
.btn-outline-success{
  width:150px;
  border: 1px solid #60d0ec;
}
.btn-outline-success:hover{
  background: #fff;
  color: #60d0ec;
  border: 1px solid #28a745;
}
.err{
  background-color: #f5c6cb;
  height: 30px;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  border-radius: 5px;
}
.msg{
  background-color: #d4edda;
  height: 30px;
  padding: 5px;
  margin: 5px;
  font-size: 15px;
  border-radius: 5px;
}
#sign-out{
  color: #e3f2fd;
  padding-left: 5px;
}
#sales-form{
  display: inline-block;
  width: 97%;
  padding-left: 3%;
}
#product-form{
  display: inline-block;
  width: 96%;
  padding-left: 11%;
}
#add-product{
  margin-left: 0.5%;
  padding: 0px;
  border-right: 1px solid rgb(221, 217, 217);
  width: 25%;
  height: 85.3vh;
  margin-right: 0.5%;
  float: left;
}
#manage-product{
  position: relative;
  height: 85.3vh;
  float: left;
  width: 74%;
}
#product-title{
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}
.product-search{
  float: right;
  border: none;
  border-radius: 30px;
  margin-right: 5px;
  padding-left: 10px;
}
.product-search:focus{
outline: none
}
.product-form-footer{
  margin-top: 15%;
}
.product-form-footer button{
height: 30px;
padding: 0px;
}
.product-name{
  width: 50%;
  text-align: left;
}
#sell-products{
  position: relative;
  height: 78.5vh;
  float: left;
  width: 63%;
  margin-left: 10%;
  margin-right: 0.5%;
}
#sales-cart{
  min-height: 78.5vh;
  max-height: 78.5vh;
  height: 78.5vh;
  border-left: 1px solid #60d0ec;
  border-radius: 5px;
  width: 26.5%;
  text-align: left;
  float: left;
}
.sell-center{
  padding-top: 10px;
  text-align: center;
  margin-bottom: 5px;
}
#item-list{
  overflow-y:auto;
  height: 50vh;
  width:100%;
  background-color: #fafafa;
  margin: 5px;
}
#items-to-sell > div{
  float: left;
}
#sales-cart > span{
  left: 40%
}
.product{
  font-size: 12px;
  margin: 5px;
  padding-top: 2px;
  height: 80px;
  width: 110px;
  color: #000;
  display: inline-grid;
  background-color: #dbd8d8;
}
.btn .page-number{
  height: 5px;
  margin: 0;
  padding: 0;
  line-height: 5px;
}
.sort{
  width: 60%;
  float: left;
  margin-left: 15%;
}
.sort a{
  font-size: 20px;
  margin: 5px;
  color: #28a745;
}
.sort a:hover{
  border-bottom: 2px dashed #28a745;
  color: black;
  text-decoration: none;
}
.sell-nav{
  position: absolute;
  bottom: 0;
  width:100%;
  text-align:center;
}
.sell-nav nav{
  display: inline-block;
}
.sell-form-footer{
  margin-top: 5px;
  padding: 10px;
  font-size: 15px;
  font-weight: bold;
  float: left;
}
.sell-form-footer span{
  margin-left: 140px;
  align-items: center;
  /* display: inline-block; */
  color: #28a745;
  font-size: 20px;
}
.sell-footer-btn button{
  display: inline-block;
  width: 60px;
  margin: 5px;
}
.page-link{
  color: #28a745;
}
.page-item.active .page-link{
  background-color: #28a745;
  border: none;
}
.current-page{
  background-color: #60d0ec;
  color: #fff;
}
#quantity{
  width: 600px;
}
.cart-item-title {
  font-size: large;
  font-weight: bold;
}
span#productQuantity {
  display: inline-block;
  width: 12%;
  float: left;
}
span#productName {
  display: inline-block;
  width: 58%;
}
span#sellingPrice {
  display: inline-block;
  width: 30%;
  float: right;
}